{% extends "default.html" %} {% block content %}
<link rel="stylesheet" href="/assets/css/casino.css?v=11" />
<script src="/assets/js/casino.js?v=2001"></script>

<h1>Casino</h1>

<!-- #region Slots  -->
<h2>Slots</h2>

<!-- Results -->
<div class="casino-slots-results">
  <div class="reel">
    <img src="/i/rDrama/coins.webp?v=3009" alt="coin" />
  </div>
  <div class="reel">
    <img src="/i/rDrama/coins.webp?v=3009" alt="coin" />
  </div>
  <div class="reel">
    <img src="/i/rDrama/coins.webp?v=3009" alt="coin" />
  </div>
</div>

<!-- Controls -->
<div style="padding: 0.5rem; max-width: 400px">
  <div class="lottery-page--stat">
    <div class="lottery-page--stat-keys" style="margin-right: 1rem">
      <div>Enter Bet</div>
      <div>
        <input
          id="casinoSlotsBet"
          class="form-control"
          autocomplete="off"
          value="100"
          min="100"
          step="1"
          aria-label="Bet"
          name="casinoSlotsBet"
          type="number"
          style="flex: 1; max-width: 200px; text-align: right"
        />
      </div>
    </div>

    <div class="lottery-page--stat-values">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="casinoSlotsCurrency"
          id="casinoSlotsCurrencyDramacoin"
          value="dramacoin"
          checked
        />
        <label class="form-check-label" for="casinoSlotsCurrencyDramacoin">
          <img
            src="/i/rDrama/coins.webp?v=3009"
            alt="coin"
            width="40"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            title="Dramacoin"
            aria-label="Dramacoin"
          />
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="casinoSlotsCurrency"
          id="casinoSlotsCurrencyMarseybux"
          value="marseybux"
        />
        <label class="form-check-label" for="casinoSlotsCurrencyMarseybux">
          <img
            src="/i/marseybux.webp?v=2000"
            alt="marseybux"
            width="40"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            title="Marseybux"
            aria-label="Marseybux"
          />
        </label>
      </div>
    </div>
  </div>

  <button
    type="button"
    class="btn btn-success lottery-page--action"
    id="casinoSlotsPull"
    style="width: 100%"
    onclick="pullSlots()"
  >
    Pull
  </button>

  <div id="casinoSlotsResult" style="display: none; text-align: right"></div>
</div>

<!-- #endregion -->

<!-- #region Blackjack  -->
<h2>Blackjack</h2>

<div class="casino-blackjack">
  <!-- Table -->
  <div class="blackjack-table">
    <div style="display: flex; align-items: center">
      <small style="margin-right: 0.5rem">Dealer</small>
      <hr style="flex: 1" />
    </div>
    <div class="hand" id="casinoBlackjackDealerHand">
      <div class="playing-card" data-who="dealer"></div>
      <div class="playing-card" data-who="dealer"></div>
      <div class="playing-card" data-who="dealer"></div>
      <div class="playing-card" data-who="dealer"></div>
      <div class="playing-card" data-who="dealer"></div>
    </div>
    <hr />
    <div class="hand" id="casinoBlackjackPlayerHand">
      <div class="playing-card" data-who="player"></div>
      <div class="playing-card" data-who="player"></div>
      <div class="playing-card" data-who="player"></div>
      <div class="playing-card" data-who="player"></div>
      <div class="playing-card" data-who="player"></div>
    </div>
    <div style="display: flex; align-items: center">
      <hr style="flex: 1; margin-right: 0.5rem" />
      <small>Player</small>
    </div>
  </div>

  <!-- Controls -->
  <div style="padding: 0.5rem; max-width: 400px">
    <div id="casinoBlackjackWager" class="lottery-page--stat" style="display: none">
      <div class="lottery-page--stat-keys" style="margin-right: 1rem">
        <div>Enter Bet</div>
        <div>
          <input
            id="casinoBlackjackBet"
            class="form-control"
            autocomplete="off"
            value="100"
            min="100"
            step="1"
            aria-label="Bet"
            name="casinoBlackjackBet"
            type="number"
            style="flex: 1; max-width: 200px; text-align: right"
          />
        </div>
      </div>

      <div class="lottery-page--stat-values">
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="casinoBlackjackCurrency"
            id="casinoBlackjackCurrencyDramacoin"
            value="dramacoin"
            checked
          />
          <label
            class="form-check-label"
            for="casinoBlackjackCurrencyDramacoin"
          >
            <img
              src="/i/rDrama/coins.webp?v=3009"
              alt="coin"
              width="40"
              data-bs-toggle="tooltip"
              data-bs-placement="bottom"
              title="Dramacoin"
              aria-label="Dramacoin"
            />
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="casinoBlackjackCurrency"
            id="casinoBlackjackCurrencyMarseybux"
            value="marseybux"
          />
          <label
            class="form-check-label"
            for="casinoBlackjackCurrencyMarseybux"
          >
            <img
              src="/i/marseybux.webp?v=2000"
              alt="marseybux"
              width="40"
              data-bs-toggle="tooltip"
              data-bs-placement="bottom"
              title="Marseybux"
              aria-label="Marseybux"
            />
          </label>
        </div>
      </div>
    </div>

    <div id="casinoBlackjackActions" class="casino-blackjack-actions">
      <button
        type="button"
        class="btn btn-success lottery-page--action"
        id="casinoBlackjackDeal"
        style="width: 100%"
        onclick="dealBlackjack()"
      >
        Deal
      </button>
    </div>

    <div
      id="casinoBlackjackResult"
      style="display: none; text-align: right"
    ></div>
  </div>
</div>
<!-- #endregion -->

{% include "lottery.html" %} {% endblock %}
